.d-flex {
  display: flex;
}

html {
  scroll-behavior: smooth;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.header {
  background-color: #3c3a39;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px;
}

.header a {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.burger {
  height: 24px;
  width: 24px;
}

.topMenu {
  display: none;
  width: 255px;
}

.topMenu ul {
  list-style: none;
}

.mainContain {
  background-color: #1c1a19;
  height: 590px;
  top: 92px;
  background-image: url('images/Illustration.png');
  background-repeat: no-repeat;
  background-position: right bottom -45px;
  flex: 1;
  flex-direction: column;
}

.informativeText {
  margin-left: 24px;
  height: 798px;
}

.informativeText h1 {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 56px;
  margin-bottom: 12px;
  margin-top: 120px;
}

.informativeText h2 {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 12px;
  margin-right: 24px;
  margin-top: 12px;
}

.informativeText p {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  max-width: 70%;
  margin-bottom: 11px;
}

.socialIcons ul {
  list-style: none;
  width: 200px;
  height: 40px;
  margin-left: 24px;
  margin-bottom: 120px;
  margin-top: 11px;
  justify-content: space-around;
}

.btnPrimary {
  width: fit-content;
  height: 48px;
  padding: 12px;
  background-color: #ff6b00;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  border: 0;
  line-height: 24px;
  transition: transform 300ms ease-in;
}

.btnPrimary:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
  transform: scale(1.1);
  cursor: pointer;
}

.btnPrimary:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.btnPrimary[disabled] {
  background: #f4f1f0;
  color: #5b5957;
  border: 0;
}

.alingButton {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}

.gridItem {
  width: 100%;
  max-width: 450px;
  flex-direction: column;
  align-items: flex-start;
}

.backGroundImg {
  background-image: url('images/imgworks.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.grid1 {
  font-family: 'Crete Round', serif;
  font-size: 40px;
  margin-top: 120px;
  margin-bottom: 24px;
}

.grid2 {
  flex-direction: column;
}

.yogaInfo {
  flex-direction: column;
}

.yogaImage {
  width: 327px;
  height: 237px;
}

.yogaInfo h2 {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 0%;
  color: #091e42;
}

.yogaInfo p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 0%;
  color: #091e42;
}

.yogaInfo ul {
  width: 297px;
  list-style: none;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 12px;
  padding-left: 0%;
  justify-content: space-between;
  align-items: flex-start;
}

.grid3 h2 {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  color: #fff;
  margin-top: 84px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0%;
}

.grid3 p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0%;
  color: #fff;
}

.grid3 ul {
  width: 236px;
  list-style: none;
  margin-top: 12px;
  margin-bottom: 22px;
  margin-left: 16px;
  padding-left: 0%;
  justify-content: space-between;
  align-items: flex-start;
}

.buttonProperties {
  width: 327px;
  height: 48px;
}

.aboutMe {
  background-color: #1c1a19;
  margin-top: 120px;
  background-image: url('images/bottomImg.png');
  background-repeat: no-repeat;
  background-position: right bottom 25px;
}

.bottom {
  flex: 1;
  align-items: flex-start;
  margin-left: 24px;
  flex-direction: column;
}

.bottom h2 {
  color: #ff6b00;
  font-size: 72px;
  font-family: 'Crete Round', serif;
  margin-bottom: 24px;
}

.bottom p {
  color: #f4f5f7;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 24px;
}

.line2 {
  margin-top: 209px;
  margin-bottom: 16px;
}

.skills {
  background-color: #1c1a19;
}

.skills div {
  background-color: #1c1a19;
  flex: 1;
}

.language {
  color: #fff;
  flex-direction: column;
  margin-bottom: 131px;
  align-items: baseline;
}

.lan {
  list-style-image: url('images/Rectangle55.png');
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
}

.frame {
  list-style-image: url('images/Rectangle56.png');
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
}

.ski {
  list-style-image: url('images/Rectangle57.png');
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
}

.lan ul {
  padding: 0;
}

.frame ul {
  padding: 0;
}

.ski ul {
  padding: 0;
}

.lan li {
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  line-height: 32px;
}

.frame li {
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  line-height: 32px;
}

.ski li {
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  line-height: 32px;
}

.footer {
  flex: 1;
  width: 100%;
  flex-direction: column;
  margin-top: 120px;
}

.footer p {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  color: #172b4d;
  font-weight: 700;
  line-height: 44px;
  padding: 0 24px;
  text-align: center;
}

.form {
  width: 85%;
}

.form fieldset {
  display: flex;
  flex-direction: column;
  height: 330px;
  justify-content: space-between;
  border: 0;
  width: inherit;
}

.form fieldset > * {
  height: 42px;
  padding: 12px;
  border: 0;
  border-bottom: 1px solid #dbd8d7;
  width: 100%;
  transition: padding-left 300ms ease-in;
}

.form fieldset > *:hover {
  padding-left: calc(12px + 5px);
}

.form fieldset::placeholder:hover {
  color: #979493;
  font-family: 'Inter', sans-serif;
  background: #fbf8f7;
  height: 100%;
}

.form fieldset textarea {
  background-color: #fbf8f7;
  height: 114px;
  border: 0;
}

.submit-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 124px;
}

.bottomNav {
  height: 72px;
  justify-content: center;
  align-items: center;
}

.sBottomNav {
  width: 200px;
  height: 40px;
}

.sBottomNav ul {
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu-hidden {
  display: none !important;
}

#mobile-menu {
  background-color: #3c3a39;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 108px 0;
}

.float-window ul {
  list-style: none;
  width: 80%;
  justify-content: space-between;
  padding: 0;
}

#mobile-menu ul {
  list-style: none;
  padding: 0 28px;
  margin: 0;
}

#mobile-menu button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 62px;
  right: 38px;
}

.menu-item {
  font-size: 32px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  border-bottom: 1px solid #fff5e1;
  padding: 15px;
  margin-top: 14px;
}

.menu-item a {
  text-decoration: none;
  color: #fff5e1;
}

.pop-up-main {
  /* display: none; */
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px) brightness(50%);
  padding-top: 50px;
  overflow-y: auto;
}

.float-window {
  width: 80%;
  background-color: #fff;
  flex-direction: column;
  position: relative;
  padding: 24px 4px;
  padding-left: 16px;
  margin-bottom: 30px;
}

.float-window h2 {
  color: #172b4d;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.close-pop-up {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 30px;
  right: 30px;
}

.second-div-pop-up {
  flex-direction: column;
}

.second-div-pop-up img {
  max-width: 95%;
  height: auto;
}

.third-div-pop-up {
  flex-direction: column;
}

.third-div-pop-up p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  margin-right: 16px;
}

#img-button-1 {
  width: 134px;
  text-decoration: none;
  background-image: url(images/IconLive.png);
  background-repeat: no-repeat;
  background-position-x: 102px;
  background-position-y: center;
  padding-left: 12px;
  text-align: left;
}

#img-button-2 {
  width: 160px;
  text-decoration: none;
  background-image: url(images/IconGithubWhite.png);
  background-repeat: no-repeat;
  background-position-x: 126px;
  background-position-y: center;
  padding-left: 12px;
  text-align: left;
}

.img-button-2:hover {
  background-image: url(images/IconGitHubBottom.png);
}

@media (min-width: 1024px) {
  .header {
    background-color: #3c3a39;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 24px 154px;
  }

  .name {
    font-family: 'Inter', sans-serif !important;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  .burger {
    display: none;
  }

  .topMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
  }

  .topMenu ul {
    list-style: none;
    justify-content: space-around;
  }

  .topMenu ul a {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    width: fit-content;
    margin: 0 24px;
  }

  .mailIcon {
    margin-left: 33px !important;
  }

  .mainContain {
    height: 798px;
    background-image: url('images/Illustration-header.png');
    background-repeat: no-repeat;
    background-size: 590px 750px;
    background-position: right top;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
  }

  .socialIcons ul {
    flex-direction: column;
    width: 20px;
    justify-content: center;
    padding: 0;
  }

  .informativeText {
    margin-left: 89px;
  }

  .informativeText h1 {
    font-size: 72px;
    margin-bottom: 24px;
    margin-top: 192px;
  }

  .informativeText h2 {
    font-size: 32px;
  }

  .informativeText p {
    font-size: 20px;
    margin-bottom: 241px;
    max-width: 45%;
    line-height: 32px;
  }

  .grid {
    grid-template-rows: auto auto auto;
    margin-left: 5%;
    margin-right: 5%;
  }

  .grid1 {
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: 40px;
    width: 100%;
    color: #091e42;
    height: 25%;
    grid-column: 1 / span 3;
  }

  .grid1 img {
    width: 70%;
    margin-left: 24px;
  }

  .grid2 {
    flex-direction: row;
    width: 100%;
    justify-content: left;
    margin-bottom: 24px;
    grid-column: 1 / span 3;
    align-items: flex-start;
  }

  .yogaImage {
    width: 684px;
    height: 448px;
    margin-right: 24px;
  }

  .yogaInfo {
    width: 100%;
  }

  .yogaInfo p {
    width: 60%;
  }

  .yogaInfo h2 {
    margin-top: 0;
  }

  .alingButton {
    width: 100%;
    margin-bottom: 0;
  }

  .buttonProperties {
    width: 100%;
  }

  .grid3 div {
    visibility: hidden;
  }

  .grid3:hover {
    background-image: url('images/imgGrid1.png');
    background-repeat: no-repeat;
  }

  .bottom p {
    color: #f4f5f7;
    font-size: 20px;
    margin-bottom: 24px;
    margin-top: 0;
  }

  .skills div {
    flex-direction: row;
  }

  .footer p {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    width: 455px;
    height: 256px;
    flex-basis: 40%;
  }

  .sBottomNav ul {
    flex-direction: row;
  }

  .float-window ul {
    width: 20%;
    justify-content: space-between;
    padding: 0;
  }

  .third-div-pop-up p {
    line-height: 30px;
  }

  .grid3:hover h2,
  .grid3:hover p,
  .grid3:hover ul {
    visibility: hidden;
  }

  .grid3:hover div {
    visibility: visible;
    position: relative;
    bottom: 0;
  }

  .aboutMe {
    margin-top: 130px;
    background-image: url('images/bottomImgComplete.png');
    background-repeat: no-repeat;
    background-position: right top 30px;
  }

  .bottom {
    margin-left: 142px;
  }

  .bottom div input {
    visibility: visible;
  }

  .line2 {
    margin-top: 209px;
    margin-bottom: 16px;
    margin-left: 142px;
    width: 1156px;
    height: 1px;
  }

  .language {
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
  }

  .footer {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .form {
    flex-basis: 60%;
  }

  .submit-container {
    justify-content: left;
    margin-left: 12px;
  }

  .sBottomNav {
    justify-content: center;
  }

  .close-pop-up {
    top: 38px;
    right: 38px;
  }

  .second-div-pop-up {
    flex-direction: row;
  }

  .second-div-pop-up img {
    width: 660px;
    height: 448px;
  }

  .third-div-pop-up {
    padding-left: 25px;
    margin-top: 0;
    justify-content: space-between;
  }
}
